#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [0]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches.csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
uploaded = files.upload()
data = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
data

Saving deliveries.csv to deliveries.csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

In [0]:
# Q1.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
p=new[new['city']=='Mumbai']
p.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(3)

batsman
RG Sharma       1425
SR Tendulkar     972
KA Pollard       941
Name: batsman_runs, dtype: int64

In [0]:
def Take_a_vow_Gentleman(city):
  p=new[new['city']==city]
  k=p.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(3)
  return k

In [0]:
Take_a_vow_Gentleman("Mumbai")

batsman
RG Sharma       1425
SR Tendulkar     972
KA Pollard       941
Name: batsman_runs, dtype: int64

In [0]:
# Q2.- No. of matches per season played in Mumbai.

In [0]:
p=df[df['city']=='Mumbai']

k=p.pivot_table(index='season',columns='city',aggfunc='count')

In [0]:
k['date']

city    Mumbai
season
2008        10
2010        13
2011        16
2012         8
2013         8
2014         7
2015        11
2016         4
2017         8
2018         9
2019         7

In [0]:
# Q3. - Top-3 Player in terms of most no. of catches.

In [0]:
p=data[data['dismissal_kind']=='caught']

In [0]:
p.head()

     match_id  inning  ... dismissal_kind        fielder
11          1       1  ...         caught  Mandeep Singh
64          1       1  ...         caught    Sachin Baby
94          1       1  ...         caught    Sachin Baby
165         1       2  ...         caught      DA Warner
206         1       2  ...         caught   Yuvraj Singh

[5 rows x 21 columns]

In [0]:
k=p.groupby('fielder')['dismissal_kind'].count().sort_values(ascending=False)

In [0]:
k.head(3)

fielder
KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: dismissal_kind, dtype: int64